@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3f1d2e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-playfair), serif;
  --font-cursive: var(--font-great-vibes), cursive;
}

body {
  background: #fff7f9;
  color: #3f1d2e;
  font-family: var(--font-playfair), serif;
}
