@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3f1d2e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-playfair), serif;
  --font-cursive: var(--font-great-vibes), cursive;
  --color-rosa-palido: #fff7f9;
  --color-crema: #fdf6f0;
  --color-rosa-claro: #f8cfe0;
  --color-rosa-medio: #ef5da8;
  --color-rosa-fuerte: #e2278e;
  --color-rosa-intenso: #8f114e;
  --color-dorado-palido: #f6e3b8;
  --color-dorado-medio: #e3a82f;
  --color-dorado-oscuro: #7e5300;
}

body {
  background: var(--color-crema);
  color: #3f1d2e;
  font-family: var(--font-playfair), serif;
}

.hero {
  min-height: 50vh;
}

@media (min-width: 768px) {
  .hero {
    min-height: 70vh;
  }
}
